

<h2 align="center">Title:<%=@idea.title%></h2>
<div class="well col-xs-8 col-xs-offset-2">
<% if @idea.user %>
<ul class="listing">
    <div class ="row center">
    <div class=" col-md-4 col-md-offset-4">
    <li> <%= @idea.created_at %> </li>
    <li>
    Created by: <%= @idea.user&.username || 'DELETED'  %>
    </li>
    
    <li class ="idea-title">
    
    </li>
    
    </div>
    </div>
    </ul>
    <%end%>
    
<h4 class="center description "><strong>Description: </strong></h4>
<hr>
<div class="center">
<%= simple_format(@idea.description)%>
</div>
<hr/>
<div >likes: <%=  @idea.likes.count %></div>
<% like = @idea.likes.find_by(user: current_user) %>
<% if like.present? %>
  <%= link_to "Un-like", idea_like_path(@idea, like), method: :delete%>
<% else %>
  <%= link_to "Like", idea_likes_path(@idea), method: :post%>
<% end %>
<div class="idea-action">
  <% if can? :crud, @idea %>
  <%= link_to "edit this idea",edit_idea_path(@idea),class:"btn btn-xs btn-primary"%>   
  <%= link_to "delete this idea", idea_path(@idea), method: :delete, 
                                    data:{confirm:"are you sure want to delete the idea"}, 
                                    class:"btn btn-xs btn-danger"%>
  <%= link_to "view all ideas",ideas_path,class: "btn btn-xs btn-success" %>
  <% end%>

</div>
</div>
<%= form_with(model: [@idea, @review], local: true) do |f| %>
<% if @review.errors.any? %>
  <ul>
    <% @review.errors.full_messages.each do |msg|%>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class=" center form-group well col-xs-8 col-xs-offset-2">
  <%= f.text_area(
  :body,
  cols: 50,
  rows: 5,
  placeholder: "What are your thoughts?",
  class: "form-control"
  ) %>
</div>
<div class="center btn well col-xs-8 col-xs-offset-2"">
<%= f.submit "review" %>
<% end %>
</div>
<hr/>
<div class="center reviews well col-xs-8 col-xs-offset-2"">
<h1><strong>Reviews</strong></h1>
</div>
<ul class=" center well col-xs-8 col-xs-offset-2"">
  <% @reviews.each do |review| %>
      <p>
        <%= review.body %> <br />
        <% if can? :crud, review %>
         <small>
          reviewed <%= time_ago_in_words(review.created_at) %> ago
        </small>
        <small>
          <%= link_to(
            "Delete",
            idea_review_path(@idea, review),
            method: :delete,
            data: {
              confirm: "Are you sure?"
            }
          ) %>
        </small>
       
        <% end %>
       
      </p>
   <hr/>
  <% end %>
</ul>